* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #f8f8f8;
	--bg-secondary-color: #835afd;
	--text-color: #29292e;
	--light-text-color: #fff;
	--primary-font: "Roboto", sans-serif;
	--secondary-font: "Poppins", sans-serif;
}

body,
input,
button,
textarea, span {
	font: 400 16px var(--primary-font);
}